<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDBContext" connectionString="data source=localhost,1435;initial catalog=Expense_Management;persist security info=True;user id=sa;password=Abc@123456;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>