<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="MyDBContext"
		 connectionString="data source=LAPTOP-N3KRTA8O;initial catalog=QLCT;persist security info=True;user id=duyhoang;password=123456;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>